:root {
    --text-color: #fff;
    --main-color: #171D25;
    --new-text: #b8b6b4;

}

ul {
    list-style: none;
}

body {
    margin: 0;
    background: url(https://cdn.cloudflare.steamstatic.com/store/promo/autumn2023/pattern_leaves_red.gif?v=2);
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.navbar {
    background-color: #171D25;
    position: fixed;
    width: 100vw;
    top: 0;
    margin: 0;
    z-index: 1;
}

.inner {
    width: 940px;
    margin: 0 auto;
}

.container__header {
    background-color: #171D25;
    display: flex;
    width: 940px;
    margin: 0 auto;
    z-index: 1;
    height: 104px;
    align-items: center;
}

.container__header-select {
    align-items: center;
    width: 500px;
}

.container__header-home {
    padding: 10px;
}

.img__steam {
    width: 176px;
    height: 44px;
}

.container__header-login {
    display: flex;
    margin: -72px 50px 0 10px;
    position: relative;
    width: 250px;
}

.container__header-login::before {
    height: 10px;
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    border: solid 1px #b8b6b4;
    transform: translateX(150px);
    top: 5px;
    background-color: #fff;
}

.container__header-select-link {
    color: var(--text-color);
}


.btn_installe {
    font-size: 10px;
    background-color: #5C7E10;
    color: var(--text-color);
    height: 25px;
    width: 110px;
    border: 1px black solid;
    z-index: 1;
}

.container__header-login-a,
.container__header-login-p {
    margin: 5px;
    color: #b8b6b4;
    font-weight: 150;
    font-size: 11px;
    font-family: "Motiva Sans", Sans-serif;
    padding-left: 5px;
    cursor: pointer;
}

.container__header-select-link {
    font-weight: 600;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
    font-size: 15px;
    padding: 0 7px 7px 7px;
    color: #b8b6b4;
}

/* Body */
.container_body {
    position: relative;
}

.page_background_holder {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.page_background_holder::before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(./img/f6wxdatim6oa1.gif);
}

.book__menu-main {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(63, 59, 59);
    background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    box-shadow: 5px 10px 20px #1F4181;
}

.container__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.container__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.container__list-menu {
    font-size: 16px;
    font-weight: bold;
    padding: 0 5px 0 5px;
    display: inline-block;
}

.container__list .container__list-menu a {
    color: var(--text-color);
    padding: 10px 10px;
    display: block;
}

.container__list-menu:hover {
    background: linear-gradient(90deg, rgba(33, 162, 255, 0.25) 0%, rgba(33, 162, 255, 0.15) 50%, rgba(50, 50, 51, 0) 100%);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}

.search__form {
    position: relative;
}

.btn__btn-sumit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 100%;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(62, 103, 150, 0.919);
}

.search-input {
    height: 30px;
    background-color: transparent;
    outline: none;
    border-radius: 4px;
    border: 1px solid rgba(62, 103, 150, 0.919);
}

.fa-magnifying-glass {
    color: #fff;
}

.menu__products {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 2%;
    width: auto;
}

.item_products {
    width: 375px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.list_products {
    display: flex;
    width: 100%;
}

.item_products img {
    display: block;
    width: 377px;
    height: 450px;
}

.price__products-container {
    position: relative;
    display: flex;
    background-color: #344654;
    padding: 5px;
    align-items: center;
    z-index: 99;
}

.price__products {
    display: flex;
    position: absolute;
    top: 395px;
    transform: translateX(105%);
}

.discount {
    font-weight: bold;
    font-size: 16px;
    background: #A1CD44;
    align-items: center;
    padding: 6px;

}

.discount__price {
    font-size: 14px;
    color: var(--new-text);
    position: relative;
}

.discount__price::before {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    top: 43%;
    border-bottom: 1.5px solid #738895;
    transform: skewY(-8deg);
    box-shadow: 0 0 2px black;
}

.discount__price-final {
    font-size: 14px;
    color: var(--text-color);
    margin-left: 5px;
}

.description-products {
    margin-left: 20px;
}

.data__product-hover {
    /* z-index: 0; */
    bottom: 0;
    top: 100%;
    left: 0;
    position: absolute;
    width: 375px;
    transition: top 0.6s, opacity 0.5s;
    background: linear-gradient(315deg, #213c55 5%, #016968 95%);
}

.item_products:hover .data__product-hover {
    top: 0;
}

.data__product-video video {
    width: 100%;
}

.description-products h3 {
    color: var(--text-color);
    font-weight: bold;
    font-size: 20px;
    font-family: "Motiva Sans", Sans-serif;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.description-products p {
    color: #66C0F4;
}

.data__product-review {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.data__product-review li a {
    display: inline-block;
    padding: 5px 5px;
    background: #064D50;
    color: var(--new-text);
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}

.description-products button {
    background: #749205;
    border-radius: 2px;
    border: 1px;
    cursor: pointer;
}

.description-products button:hover {
    background: #c5e74d;
}

.description-products button span {
    color: #8DB96A;
    padding: 0 15px;
    font-size: 15px;
    line-height: 30px;
    font-weight: bold;
}

/* slick */
.slick-next {
    border: none;
    font-size: 0;
    background: url(/img/arrows.png);
    position: absolute;
    right: -46px;
    top: 50%;
    transform: translateY(-50%);
    width: 23px;
    height: 36px;
}

.slick-prev {
    border: none;
    font-size: 0;
    background: url(/img/arrows.png);
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    width: 23px;
    height: 36px;

}

.slick-dots {
    display: flex;
    justify-content: center;

}

.slick-dots li button {
    font-size: 0;
    display: inline-block;
    margin: 12px 2px;
    width: 15px;
    height: 9px;
    border-radius: 2px;
    transition: background-color 0.2s;
    background-color: hsla(202, 60%, 100%, 0.2);
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background-color: orange;
}

.end__container {
    margin-top: 100px;
    max-width: 100%;
    background: black;
}

.container__content {
    width: 940px;
    margin: 0 auto;
    padding-top: 16px;
}

.container__content-main {
    display: flex;
}

.container__content-img img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.container__content-word span {
    color: var(--new-text);
    font-size: 12px;
    line-height: 16px;
}

.container__content-steam img {
    padding-top: 15px;
    padding-left: 25px;
}

.container__content-word a {
    color: var(--text-color);
    padding: 0 10px;
}

.container__content-link {
    padding-top: 8px;
    padding-bottom: 40px;
}

.container__content-link span {
    color: var(--new-text);
}

.container__content-link span a {
    color: var(--new-text);
    padding: 0 10px;
    font-size: 12px;
}

/* Part 2 product */
.container__header-part {
    margin-top: 50px;
}
.container__header-part h2 {
    margin: 0 15px;
    color: var(--text-color);
    font-size: 30px;
    font-family: 'Ephesis', cursive;
}

.list__products-part2 {
    display: flex;
    width: 100%;
    margin-top: 50px;
    flex-wrap: wrap;
}

.list__products-sales {
    position: relative;
    width: 275px;
    margin-left: 15px;
      cursor: pointer;
}
.list__products-sales-large {
    margin-top: 100px;
    position: relative;
    width: 368px;
    margin-left: 15px;
    cursor: pointer;
}

.list__products-hover-min {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 275px;
    opacity: 0;
    transition: top 0.6s, opacity 0.5s;
    background: linear-gradient(315deg, #213c55 5%, #016968 95%);
}
.list__products-hover-large {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 368px;
    opacity: 0;
    transition: top 0.6s, opacity 0.5s;
    background: linear-gradient(315deg, #213c55 5%, #016968 95%);
}

.list__products-sales img {
    display: block;
    width: 100%;
    height: 150px;
}

.list__products-sales-large img {
    display: block;
    width: 100%;
    height: 200px;
}

.list__products-sales .price__products {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 0px;
}

.list__products-sales-large .price__products {
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
    left: 0px;
}

.data__product-hover-min video {
    width: 100%;
}

.list__products-sales:hover .list__products-hover-min {
    opacity: 1;
}
.list__products-sales-large:hover .list__products-hover-large {
    opacity: 1;
}

