
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h3>View Student</h3>
<p>
  <a th:href="@{/}">
    Back to student list
  </a>
</p>
<div id="detail">
  <div class="cus-detail">
    <label>Tên sinh viên:</label>
    <label th:text="${student.name}"></label>
  </div>
  <div class="cus-detail">
    <label>Giới tính:</label>
    <label th:text="${student.gender}"></label>
  </div>
  <div class="cus-detail">
    <label>Tuổi:</label>
    <label th:text="${student.age}"></label>
  </div>
  <div class="cus-detail">
    <label>Địa chỉ:</label>
    <label th:text="${student.address}"></label>
  </div>
</div>
</body>
</html>