<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<!--NAVBAR-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="margin:20px 10px 50px">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Trang chủ</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Sắp xếp
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Sắp xếp kiểu 1</a></li>
                        <li><a class="dropdown-item" href="#">Sắp xếp kiểu 2</a></li>
                    </ul>
                </li>
            </ul>
            <form th:action="@{/blog/search}" class="d-flex" role="search">
                <input name="name" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Tìm</button>
            </form>
        </div>
    </div>
</nav>
<h1 style="margin-left: 38%">Quản Lý Blog</h1>
<div>
    <a th:href="@{/blog/add}" type="button" role="button" class="btn btn-success">Thêm Blog</a>
    <a th:href="@{/getAll}" type="button" role="button" class="btn btn-success">Xem Catelogy</a>
    <select id="mySelect" onchange="myFunction()" th:field="*{catelogy}">
        <option th:each="catelogy:${catelogy}" th:value="${catelogy.getId()}" th:text="${catelogy.name}"></option>
    </select>
</div>
<div class="container">
    <div class="row" style="margin-bottom: 20px">
        <div th:each="blog,count : ${blogs}" class="card" style="width: 18rem;">
            <img th:src="${blog.getImg()}"> >
            <div class="card-body">
                <h5 class="card-title" th:text="${blog.getName()}"></h5>
                <p th:text="${blog}"></p>
                <p class="card-text" th:text="${blog.getContent()}"></p>
                <a th:href="@{/blog/delete/{id}(id=${blog.getId()})}" class="btn btn-primary">Delete</a>
                <a th:href="@{/blog/editBlog/{id}(id=${blog.getId()})}" class="btn btn-primary">Chỉnh Sửa</a>
                <a th:href="@{/blog/detailBlog/{id}(id=${blog.getId()})}" type="button" class="btn btn-warning">Chi
                    Tiết</a>
            </div>
        </div>  

        <div th:each="searchCatelogys,count : ${searchCatelogy}" class="card" style="width: 18rem;">
            <img th:src="${searchCatelogys.getImg()}"> >
            <div class="card-body">
                <h5 class="card-title" th:text="${searchCatelogys.getName()}"></h5>
                <p th:text="${searchCatelogys}"></p>
                <p class="card-text" th:text="${searchCatelogys.getContent()}"></p>
                <a th:href="@{/blog/delete/{id}(id=${searchCatelogys.getId()})}" class="btn btn-primary">Delete</a>
                <a th:href="@{/blog/editBlog/{id}(id=${searchCatelogys.getId()})}" class="btn btn-primary">Chỉnh Sửa</a>
                <a th:href="@{/blog/detailBlog/{id}(id=${searchCatelogys.getId()})}" type="button"
                   class="btn btn-warning">Chi Tiết</a>
            </div>
        </div>
    </div>

</div>
<div class="row" style="text-align: center">
    <div>
        <a>Previous</a>
        <span>1</span> / <span>5</span>
        <a>Next</a>
    </div>
</div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/delete}">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Delete blog:</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to delete <span id="nameEdit"></span>?
                    <input type="hidden" id="idEdit" name="idEdit" value="idEdit">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
<script>
    function deleteCustomer(button) {
        var id = button.getAttribute('data-customer-id');
        var name = button.getAttribute('data-customer-name');
        document.getElementById("idEdit").value = id;
        document.getElementById("nameEdit").innerText = name;
    }

    function myFunction() {
        var x = document.getElementById("mySelect").value;
        document.getElementById("search").innerHTML = x;
        document.getElementById("demo").href = "/blog/searchCatelogy?id=" + x;
        location.href = "/blog/searchCatelogy?id=" + x;
    }

</script>
</body>
</html>

<!--<table class="table table-hover table-responsive">-->
<!--    <thead class="thead-inverse">-->
<!--    <tr>-->
<!--        <th>STT</th>-->
<!--        <th>Tên blog</th>-->
<!--        <th>Ngày Xuất Bản</th>-->
<!--        <th>Author</th>-->
<!--        <th colspan="3" style="text-align: center">Thao tác</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr scope="row" th:each="blog,count: ${blog}">-->
<!--        <td th:text="${count.count}"></td>-->
<!--        <td th:text="${blog.getName()}"></td>-->
<!--        <td th:text="${blog.getDate()}"></td>-->
<!--        <td th:text="${blog.getAuthor()}"></td>-->
<!--        &lt;!&ndash;                <td th:text="${blog.getAddress()}"></td>&ndash;&gt;-->
<!--        <td style="text-align: center">-->
<!--            <div class="btn-group" role="group" aria-label="Basic mixed styles example">-->
<!--                <a th:href="@{/detail/{id}(id=${blog.getId()})}" type="button" role="button"-->
<!--                   class="btn btn-success">Chi tiết</a>-->
<!--                <a th:href="@{/edit/{id}(id=${blog.getId()})}" type="button" class="btn btn-warning">Cập-->
<!--                    nhật</a>-->
<!--                <button type="button" class="btn btn-danger" data-bs-toggle="modal"-->
<!--                        data-bs-target="#deleteModal"-->
<!--                        th:attr="data-customer-id=${blog.getId()} , data-customer-name=${blog.getName()} "-->
<!--                        onclick="deleteCustomer(this)">-->
<!--                    Xóa-->
<!--                </button>-->
<!--            </div>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->